<%= image_tag @part.image.url %>

<p>
  <strong>Description:</strong>
  <%= @part.description %>
</p>

<% if @part.user == current_user %>
	<%= link_to 'Edit', edit_part_path(@part) %> |
<% end %>
<%= link_to 'Back', parts_path %>
